// .titleStyle{
//     color: black;
//     margin: auto;
// }
// .textStyle{
//     color: black;
//     margin: auto;
// }
.title1Style{
    margin: auto;
    color: #558196;
    text-align: center;
    margin-top: 1rem;
}